<% flash.each do |flash_type, msg| %>
  <% is_notice = flash_type == "notice" %>
  <% alert_color = is_notice ? 'success' : 'danger' %>
  <div class="alert alert-<%= alert_color %> alert-dismissible fade show" role="alert">
    <% if is_notice %>
      <i class="bi bi-check-circle-fill"></i>
    <% else %>
      <i class="bi bi-exclamation-circle-fill"></i>
    <% end %>
    <span class="ms-3"><%= msg %></span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
