<div class="card mb-3">
  <div class="card-header">
    登壇者
  </div>
  <div id="card-body">
    <div class="p-4">
      <%= f.input :name %>
      <%= f.input :title %>
      <%= f.input :start_time, html5: true %>
      <%= f.input :end_time, html5: true %>
    </div>
  </div>
</div>
