<h1 class="text-center">イベント表</h1>
<div class="d-grid gap-2 my-4">
  <%= link_to new_event_path, class: "btn btn-primary" do %>
    <i class="bi bi-calendar-plus"></i> イベントを追加
  <% end %>
</div>
<%= render @events %>
